html, body, .content {
    height: 97%;
    background: #888888;
}

img {
    margin: 0px auto;
    height: 100%;
    max-width: 100%;
}

.content {
    text-align: center;
}

.end {
    font-size: 100px;
    vertical-align: middle;
    line-height: 800px;
}

.nb_sec {
    left: 10px;
}

.nb_slide {
    right: 10px;
}

.nb_sec, 
.nb_slide {
    position: absolute;
    bottom: 10px;
    background: #FFFFFF;
    font-size: 40px;
    border: 1px solid #000000;
    padding: 3px 8px;
}

.reset {
    text-align: center;
    font-size: 60px;
    margin-top: -60px;
}

.suject {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 40px;
    width: 97%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 1px 0;
    padding: 3px 8px;
}

.name, .input {
    float: left;
    font-size: 40px;
    margin-bottom: 20px;
}

.submit {
    margin-left: 70px;
}

.name {
    width: 700px;
    text-align: right;
    color: #AAAAAA;
}

.name.subject {
    width: 200px;
}

.value {
    float: left;
    width: 781px;
}

.h1 {
    float: left;
    text-align: center;
    width: 951px;
    height: 122px;
    border: 1px solid #000000;
    margin-left: 77px;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 122px;
    font-size: 80px;
}

form {
    margin: 50px auto;
}

input {
    border: 1px solid #000000;
    background: #289928;
    font-size: 40px;
    text-align: center;
    margin-left: 7px;
}

input[name="nb_sec"], input[name="nb_slide"] {
    width: 70px;
}

input[type="submit"] {
    width: 1734px;
    height: 610px;
    font-size: 40px;
    cursor: pointer;
    background: #2B667A;
}

input[name="subject"] {
    width: 1600px;
}

.br {
    clear: both;
}
